$sidebarWidth: 366px;

.dropdown-button-asset {
	margin-top: 0.25rem;
}

.tooltip-icon:hover {
	fill: #6b6c7e;
}

.app-builder-workflow-app {
	margin-top: 64px;

	&__content {
		display: flex;
		position: fixed;
		justify-content: center;
		width: calc(100% - $sidebarWidth);
	}

	&__sidebar {
		border-left: 1px solid #e7e7ed;
		flex-flow: column;
		height: 100%;
		position: fixed;
		right: 0;
		transform: translateX(0%);
		width: $sidebarWidth;

		.form-group-outlined {
			padding: 0.5rem 1rem 1rem;
			border: 1px solid #cdced9;
			border-radius: 6px;
			margin-bottom: 1rem;
		}
	}

	.data-layout-builder-sidebar {
		@media (max-width: 576px) {
			top: 112px;
		}

		.sidebar-body {
			height: calc(100vh - 192px);
			padding-top: 0;

			.tab-button {
				align-items: center;
				display: flex;
				padding: 1rem;
				justify-content: space-between;
				text-align: left;
				width: 100%;
			}

			.main-section {
				border-bottom: 1px solid #e7e7ed;
				padding: 1rem 0;
			}
		}

		.sidebar-header {
			padding: 0;

			h3.title {
				margin: 0;
				padding: 1.5rem 1rem;
			}

			.tab-title {
				align-items: center;
				border-bottom: 1px solid #e7e7ed;
				display: flex;
				padding: 1rem;

				button {
					margin-right: 1rem;
					padding: 0.25rem;
				}

				h3 {
					margin: 0;
				}
			}
		}
	}
}
